.form {
    width: 40%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.full-width {
    width: 100%;
}

.button-create {
    margin-top: 1rem;
    width: 50%;
    left: .1rem;
}

.button-cancel {
    margin-top: 1rem;
    width: 50%;
    right: .1rem;
}