.header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    border: 1px solid rgb(134, 132, 132);
    padding: .10rem 15%;
    border-radius: 5px;
}